body {
    background-color:#000000;
    font-family:"Rubik";
    text-align: center;
    margin:0 auto;
}

body h1, h2, h3, h4, h5, h6 {
    color:white;
}

body p {
    color:white;
    opacity: 75%;
}

div {
    padding:5px;
}

.cardinfo {
    width:50%
}

.card {
    display:flex;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: 262626;
    padding:20;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    width:150px;
    height:150px;
}
.card h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}

.card p {
    text-align: center;
    opacity: 75%;
}

.flag {
    display:flex;
    position:fixed;
    right: 0;
    width:60px;
    padding-right:10px;
    padding-top:2px;
}

.cvsocial {
    justify-content: center;
    width:35%;
    margin:auto;
    border-radius:0%;
}

.cvsocial img {
    border-radius:0%;
}

.cvsocial img {
    width:25px;
    height:25px;
}

.socialabt {
    display:inline-block;
}

.all {
    display:flex;
    height:100%
}

.leftside {
    width:50%
}

.rightside {
    width:50%
}

div {
    border-width: 1px;
    border-style:solid;
    border-color: red;
    padding:1px;
}

