body {
    background-color: black;
}
.flag {
    display:flex;
    position:fixed;
    right: 0;
    width:60px;
    padding-right:10px;
    padding-top:2px;
}

.main {
    background-color: #262626;
    border-style: solid;
    border-color: #000000;
    border-width: 10px;
    padding: 20;
}

.main h1 {
    font-family: Rubik;
    display:block;
    text-align: center;
    color: white;
}

.main p {
    font-family: Rubik;
    display:block;
    text-align: center;
    color: white;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.social {
    padding: 20;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.social img {
    display: inline-block;
    width: 0%;
    border-radius: 0%;
    padding-left: 10;
    padding-right: 10;
}

.about {
    padding-left: 20;
    padding-right: 20;
    flex-direction: column;
}

.about h1, h2, h3, h4, h5, h6, p {
    font-family: Rubik;
    display: block;
    text-align: center;
    color:white;
}

.about p {
    font-family: Rubik;
    text-align: center;
    color: #9a9a9a;
}

.abt-txt {
    padding-bottom:15;
}

.projects {
    padding: 20;
    background-color: #262626
}

.projects h1, h2, h3, h4, h5, h6, p {
    display: block;
    align-self: auto;
}
.projects img {
    display: inline-block;
    align-self: auto;
    padding-right: 20;
    padding-bottom:5;
    padding-left:10;
    padding-top: 5;
}
.project {
    display:inline-block;
    display: flex;
    align-items: center;
}

#info {
    display:block;
    width:100%;
    
}

#info h1, h2, h3, h4, h5, h6 { 
    display: flex;
    text-align:left;
}

#info p {
    display:flex;
    text-align:left;
}



.copyright p {
    font-family: Rubik;
    color: rgba(255,255,255,0.3);
    text-align: center;
}

#randomImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
}

.back {
    position:fixed;
    left: 1;
    padding:15;
    filter: invert(100%);
}

.indexlink {
    background-color: #262626;
    display:block;
}

.indexlink h3 {
    font-family: Rubik;
    color: rgba(255,255,255);
    text-align: center;
}

/* div borders. debug */
/* div {
    border-color: red;
    border-style: solid;
}
*/
