<html>

<head>
    <title>Placeholder title_CV</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>

<body style="width: 21cm; height: 29.7cm; margin:0 auto;">
    <!-- Switch language -->
    <div class="flag">
        <a href="/404.html">
            <img class="flag" src="/img/fi.png">
        </a>
    </div>
    <!-- The thing you see first when you enter the page -->
    <div class="card">
        <div class="cardinfo">
            <img src=/img/placeholder_privet.png style="width:150px;height:150px;">
            <!-- Your name, and title -->
            <div id="abt-text">
                <h1><b>Placeholder name</b></h1>
                <p>Placeholder title</p>
            </div>
        </div>
        <div class="cvsocial">
            <div class=socialabt>
                <img src="/img/mastodon.svg"></img>
                <p>@example</p>
            </div>
            <div class=socialabt>
                <img src="/img/github.png"></img>
                <p>@example</p>
            </div>
            <div class=socialabt>
                <img src="/img/telegram.png"></img>
                <p>@example</p>
            </div>
            <div class=socialabt>
                <img src="/img/email.svg" style="filter: invert(100%);"></img>
                <p>example@example.com</p>
            </div>
            <div class=socialabt>
                <img src="/img/matrix.png" style="filter: invert(100%);"></img>
                <p>@example:matrix.org</p>
            </div>
        </div>
    </div>
    <div class="about">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>
    <div class="all">

        <div class="leftside">
            <div class="education">
                <h1>Education</h1>
                <p>Chernobyl Elementary School (1973-1974)</p>
                <p>Chernobyl High School (1975-1987)</p>
            </div>

            <div class="experience">
                <h1>Experience</h1>
                <p>Chernobyl Nuclear Power Plant (1985-1986)</p>

            </div>
        </div>

        <div class="rightside">
            <div class="skills">
                <h1>Skills</h1>
                <p>mass destruction</p>
            </div>
        </div>

    </div>
</body>

</html>