<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>

    <head>
        <title>placeholder title</title>
        <link rel="stylesheet" href="/css/post_style.css">
        <link rel="shortcut icon" href="/img/favicon.ico">
    </head>

    <body>

         <!-- Switch language -->
         <div class="flag">
            <a href="/posts/fi/post_ex.html">
                <img src="/img/fi_fi.svg" style="width:60px;">
            </a>
        </div>

        <div class="title">
            <div class="card">
                <h1>Placeholder title</h1>
                <p>written Placeholder date</p>
                <img src="/img/placeholder.png" style="width:500px">
            </div>
        </div>
        <div class="content">
            <h2 style:"topic">Placeholder title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h2 style:"topic">Placeholder title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h2 style:"topic">Placeholder title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="indexparent">
            <div class=indexlink>
                <a href="/index.html">
                    <h3>Back to start</h3>
                </a>
            </div>
        </div>
        <div class="copyright">
            <p>© Juuso  Kekonen. Kaikki oikeudet pidätetään.</p>
        </div>
    </body>

</html>